[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git@github.com:alexmurray/auto-complete.git
[submodule ".emacs.d/vendor/ac-slime"]
	path = .emacs.d/vendor/ac-slime
	url = git@github.com:alexmurray/ac-slime.git
[submodule ".emacs.d/vendor/ido-ubiquitous"]
	path = .emacs.d/vendor/ido-ubiquitous
	url = git@github.com:alexmurray/ido-ubiquitous.git
[submodule ".emacs.d/vendor/smex"]
	path = .emacs.d/vendor/smex
	url = git@github.com:alexmurray/smex.git
[submodule ".emacs.d/vendor/emacs-color-theme-solarized"]
	path = .emacs.d/vendor/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/vendor/yasnippet"]
	path = .emacs.d/vendor/yasnippet
	url = git@github.com:alexmurray/yasnippet.git
[submodule ".emacs.d/vendor/mark-multiple"]
	path = .emacs.d/vendor/mark-multiple
	url = git@github.com:alexmurray/mark-multiple.el.git
[submodule ".emacs.d/vendor/c-eldoc"]
	path = .emacs.d/vendor/c-eldoc
	url = git@github.com:alexmurray/c-eldoc.git
[submodule ".emacs.d/vendor/android-mode"]
	path = .emacs.d/vendor/android-mode
	url = git@github.com:alexmurray/android-mode.git
